<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h1>分布式学生管理系统-学生列表</h1>
<a href="/stu/addStu">添加学生</a>
<form action="">
    <table>
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>班级</td>
            <td>操作</td>
        </tr>
        <tr th:each="u:${stulist}">
            <td><a th:text="${u.id}"></a> </td>
            <td><a th:text="${u.sname}"></a></td>
            <td><a th:text="${u.age}"></a></td>
            <td><a th:text="${u.classes.cname}"></a></td>
            <td> | <a th:href="|/stu/delStuById/${u.id}|">删除学生</a> | </td>
        </tr>
    </table>
</form>
</body>
</html>